body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 179, 244);
}

header {
    background-color: rgb(96, 100, 232);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
}

.img-zoom {
    transition: transform 0.3s;
}

.img-zoom:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #333;
}

nav {
    text-align: center;
    background-color: #444;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.project img {
    max-width: 100%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#formularioContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilos del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la etiqueta "requerido" */
label[for]:after {
    content: " *";
    color: red;
}

/* Estilos para campos requeridos */
input[required],
textarea[required] {
    border-color: red;
}
